<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Code Cafe</title>
    <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="css/bootstrap.min.css" />
    <script data-require="angular.js@1.3.0" data-semver="1.3.0" src="https://code.angularjs.org/1.3.0/angular.js"></script>
    <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/script.js"></script>
    <script src="js/dirPagination.js"></script>
</head>

<body>
    <div ng-app="codeCafe" ng-controller="myCtrl">
        <div id="loader"></div>
        <div id="content">
            <div style="font-weight:900;background-color: white;" id="headContent">
                <img src="http://www.codestudents.co.uk/assets/img/cafe-logo.png" alt="Code Cafe" width="10%" height="20%">
                <span style="font-size:40px; color:blue;word-wrap: break-word;">
                    C<span style="color:green">ode</span> 
                    C<span style="color:green">afe</span>
                </span>
                <span style="font-size:20px;color:#ABBBBB">--code hub with states!</span>
                <button ng-click="deleteIndexedDb()">Refresh Data</button>
            </div>

            <hr>

            <div id="mainContent">
                <div class="left w80 ">
                    <div>
                        <input ng-model="query[queryBy]" />
                        <select ng-model="queryBy" ng-options="x for x in searchDropdown" value="x"></select>
                    </div>
                    <!-- <div>                    
                        <button ng-model="showFilters" ng-click="showFilters=!showFilters;fetchData()"> 
                            <span ng-hide="showFilters">Use Filters</span>  
                            <span ng-show="showFilters">Hide Filter Options</span>  
                        </button>
                        <div ng-show="showFilters">
                            <select ng-model="selectedLevel" ng-options="x for x in levels"></select>
                            <select ng-model="selectedLanguage" ng-options="x for x in languages"></select>
                            <button ng-click="fetchData()">Search</button>
                        </div>
                    </div> -->
                    <hr>
                    <div class="ScrollStyle borderB">
                        <div>
                            <ul>
                                <li dir-paginate="submission in requiredData | filter:query| itemsPerPage: 10" pagination-id="submission">
                                    <div class="card">
                                        <div>
                                           <!-- <img class="left" src="https://images.alphacoders.com/511/511052.jpg" alt="Code Cafe" width="50" height="50"> -->
                                           <img class="left" src="{{compiler_image[submission.language].icon}} " alt="Code Cafe" width="50" height="50">

                                           <span style="font-size:20px; color:blue;">{{submission.title}}</span>
                                           
                                        </div><br>
                                        <p class="test2">{{submission.source_code}}</p>
                                        <div>Submission id : {{submission.id}}</div>
                                        <div>Submission status : {{submission.compiler_status}}</div> 
                                        {{compiler_image[submission.language].freq}}                 
                                    </div><br>
                                </li>
                            </ul>
                            <dir-pagination-controls pagination-id="submission"></dir-pagination-controls>
                        </div>                     
                    </div>
                </div>              
                <br>





                <div class="left w20 borderB">
                   <div class="cardHead">Filter by Status</div>
                   <div>
                      <br>
                      <input type="radio" ng-model="status" name="status" ng-change="fetchData()" id="Accepted" value="Accepted" checked>Accepted<br>
                      <input type="radio" ng-model="status" name="status" ng-change="fetchData()" id="Skipped" value="Skipped">Skipped<br>
                      <input type="radio" ng-model="status" name="status" ng-change="fetchData()" id="Memory" value="Memory">Memory / Time limit exceeded<br>
                      <input type="radio" ng-model="status" name="status" ng-change="fetchData()" id="Runtime" value="Runtime" >Runtime / Compilation error<br>
                      <input type="radio" ng-model="status" name="status" ng-change="fetchData()" id="Wrong" value="Wrong">Wrong Answer<br><br>
                   </div>
                   <div class="cardHead">Statical Analysis</div>
                   <!-- <select ng-model="selectAnalysis" ng-options="x for x in Analysis" value="x" ng-change="loadStatistic(x)"></select> -->
                   <ul>
                      <li>Top 5 Languages Used:
                         <ul>
                            <li ng-repeat="(key, value) in compiler_image| orderBy:value.freq   " ng-if="value.freq!=0">{{key}}: {{value.freq}}</li>
                         </ul> 
                      </li>
                      <li>Number of Submissions per level:
                         <ul>
                            <li>Easy</li>
                            <li>Medium</li>
                            <li>Hard</li>
                         </ul> 
                      </li>
                      <li>Total Submissions</li>
                   </ul>
                </div>       
            </div>
        </div>
    </div>

    <div ng-controller="OtherController" class="other-controller">
        <small>this is in "OtherController"</small>
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </div> 

</body>
</html>